@page
@model RandomQuotesMachine2.Pages.CreateQuoteModel
@{
    ViewData["Title"] = "CreateQuote";
}

<h2>Create New Quote</h2>
<form method="post">
    <div>
        <label>Quote:</label>
        
        <textarea asp-for="Quotes.Qoute" rows="5" cols="50"></textarea>
    </div>
    <div>
        <label>Author:</label>
        <input asp-for="Quotes.Author" type="text" size="50"  />
    </div>
    <input asp-for="Quotes.IsSelected" type="number"  value="0" hidden/>
    <input class="btn btn-primary" type="submit" />
</form>

