@page "{id:long}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>@Model.Quote.Qoute</div>
<div>@Model.Quote.Author</div>
<div><a asp-page="./Index">New Random Quote</a></div>

<div><a asp-page="./CreateQuote">Create</a></div>

