@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper">
    <div class="content">
        <div class="text-center">
            <a class="btn btn-primary" asp-page="./Quote" asp-route-id="@Model.Quote.Id">New Random Quote</a>
        </div>
        
    </div>
</div>



