@page "{id:long}"
@model RandomQuotesMachine2.Pages.QuoteModel
@{
    ViewData["Title"] = "Quote";
}

<div class="wrapper" >
    <div class="content">
        <div class="text-center">
            <h2>@Model.Quote.Qoute</h2>

            <p>@Model.Quote.Author</p>

            <a asp-page="./Quote" asp-route-id="@Model.RandomQuote.Id" class="btn btn-primary top-space">New Random Quote</a>
        </div>

    </div>
</div>

